<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
      .card{
        width: 2800px; 
        margin: auto; 
        margin-bottom: 20px; 
        height: 500px; 
        min-width: auto;
        margin-left: 20px;
      }

    </style>
    <title>HB Cart</title>
  </head>
  <body style="background: radial-gradient(circle, rgba(49,149,123,1) 0%, rgba(52,116,164,1) 100%);">
    <h1 style="text-align: center; font-family:Brush Script MT;font-size:80px ">Welcome to HB Cart</h1>

    {% load static %}
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/shop"><img src="{% static 'images/logo.jpg' %}" alt="" style="width: 60px;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/shop">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop/about">About US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop/productview">Items</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shop/contact_page">Contact Us</a>
            </li>

          </ul>
          <form class="d-flex" method="post" action="/shop/search">
            {% csrf_token %}
            <input class="form-control me-2" id="search" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
         

          <div class="nav-item mx-2 cart" style="border: 1px solid; border-color: red; border-radius: 5px;">
            <a class="nav-link" href="/shop/cart" style="color: red;">Cart</a>
          </div>
          
        </div>
      </div>
    </nav>
    
   <br>

    <div class="container" style="display: flex;overflow: auto;">

      {% for product in product %}
      
        <div class="card">
          <h5 style="text-align: center;">{{product.category}}: {{product.subcategory}}</h5>
            <img src="/media/{{product.image}}" class="card-img-top" alt="..." style="height: 300px; width: 280px;object-fit: contain;">
            <div class="card-body" style="max-height: 200px; overflow: auto;">
              <h5 class="card-title">{{product.product_name}}</h5>
              
              <p class="card-text"><strong>Price: Rs.{{product.price}}</strong><br> {{product.desc}}</p>
            </div>
            <a href="/shop/order/{{product.product_id}}" class="btn btn-outline-success cart">Add to Cart</a>
            
        </div>
      {% endfor %}
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


    
  </body>
</html>